@import url("/_css/wikit.css");

div#menu_area {
  float:left;
  width:145px;
  padding-left: 5px;
  background:#DDD;
  margin-top: 1px;
  overflow: hidden;
  display: none;
}

div#wrapper {
  float:right;
  width:100%;
  margin-left: 0;
  margin-right: 5px;
  background: white;
}

div#content {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 5px 0 5px;
}

div#menu_area, div#wiki_menu, div#page_toc, div#wiki_toc, form#searchform, form#gsearchform, span#toggle, div.footer {
  display: none;
}
