/* CSS stylesheet for the Tcler's Wiki by Steve.Cassidy@mq.edu.au */
/* Tweaks by jcw, 09nov02 - just because it's so terribly easy... */

BODY {
  color: #000;
  margin-left: 2%;
  margin-right: 2%;
  font-family: "Trebuchet Ms", Verdana, sans-serif;
}   

H1 { 
  font-size: xx-large;
}

H2 {
  font-size: x-large;
}

/* Set the style of links, A:link is the default style */
A:link { 
    font-weight: bold;
    text-decoration: none;
}

/* These are for links that have been visited or that are clicked on  */
A:visited, A:active { 
   font-weight: bold;
   text-decoration: none;
}

/* Set a background colour for <pre> sections and show text in red      */
/* note that NS4.x and earlier don't show the background colour for the */
/* full width of the page, just for where there's text                  */
pre {
   background-color: #E0E0E0;
   font-weight: bold;
   font-family: monospace;
   color: #802020;
}

dt {
   font-weight: bold;
}

/* layout */ 

div#header{
  background: #EEE;
  text-align: right;
}

div#header h1{
  height:50px;
  line-height:50px;
  margin:0;
  padding-left:10px;
  background: #EEE;
  text-align: left;
}

div#footer{
  background: #EEE;
}

div#footer p{
  text-align: center;
}

div#menu_area{
  background:#DDD;
}

div#menu_area ul{
  PADDING-LEFT: 0px;
  MARGIN-LEFT: 15px
}

div#navigation{
  background:#CCC;
}

div#extra{
  background:#BBB;
}

div#wrapper{
  float:right;
  width:100%;
  margin-left:-200px;
}

div#content{
  margin-left:200px;
}

div#menu_area{
  float:left;
  width:200px;
}

div#navigation{
  float:left;
  clear:left;
  width:200px;
}

div#extra{
  float:left;
  clear:left;
  width:200px;
}

div#footer{
  clear:both;
  width:100%;
}

/*--------------------------------------------------|
| dTree 2.05 | www.destroydrop.com/javascript/tree/ |
|---------------------------------------------------|
| Copyright (c) 2002-2003 Geir Landrö               |
|--------------------------------------------------*/

.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}

/*
 * Markup for version history
 */

table.history {
	border-collapse: collapse;
}

table.history th {
	background: #ffffcc;
	border: 1px dotted #0000cc;
}

table.history td {
	border: 1px dotted #0000cc;
}

div.annotated {
	border-top: 1px dotted #0000cc;
	overflow: hidden;
	zoom: 1;
}

span.versioninfo {
	padding: 0.2em;
	background: #ffffcc;
	border-left: 1px dotted #0000cc;
	border-bottom: 1px dotted #0000cc;
	float: right;
	font-size: small;
	width: 20 em;
}

span.versionwho {
	text-align: right;
}
